.landing-container {
  margin: 0 2rem;
  margin-top:2rem;
  display: flex;
  flex-direction: column;
}
.alert {
  text-align: center;
  padding: 2rem;
  color: #f18e93;
  border-radius: 5px;
}
.alert p {
  margin: 0;
}