.top {
  text-align: center;
  top: 0;
  background: white;
  position: fixed;
  width: 100%;
  border-bottom: .1px solid #007eff;
}
.logo {
  height: 10vh;
}
.bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: #007eff;
}
.bottom-item {
  width: 20%;
  padding: 1rem;
}
.bottom-item a {
  color: white!important;
}