.image-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  align-items: center;
  padding: 1rem .5rem;
}
.image, .image * {
  width: 100%;
  height: 100%;
}
.profile-container {
  color: #007eff;
  border-bottom: .25px solid #007eff;
}
.profile-img {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.profile-img img {
  margin: 1rem 0;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.profile-img h5 {
  padding-top:1rem;
}
#username {
  font-size: 1rem;
}
#status {
  font-size: .75rem;
  font-weight: 5;
}
#following {
  text-align: center;
  margin-top:1.5rem;
}
#following h5 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.username {
  padding: 0 1rem;
}
.btn-primary {
  margin-top:1.75rem!important;
}
.buttons-container {
  display: flex;
}
.profile-button {
  color: white;
  background: #007bff;
  border-radius: 5px;
  padding: .5rem 4rem;
  margin-top: .75rem;
  width: 100%;
  margin: 0;
}


