.settings-container {
  width: 100%;
  color: #007bff;
  padding: 1rem;
  margin: .25rem;
}
.card-img {
  border-radius: 100%!important;
  padding: 0 3rem!important;
  margin-bottom: 1rem;
}
/* form {
  display:flex!important;
} */
.bottom-btns {
  display: flex;
  justify-content: space-between;
  
}